@page "/search"
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

<h1>Search</h1>

<p>@searchString</p>

<input class="form-control" onchange="@searchOnChange" bind="@searchString">Click me</input>

<p>@path</p>

@functions {
    
    string searchString = string.Empty;
    string path = string.Empty;

    protected override void OnInit(){
        //path = hostingEnv.env.
    }

    void searchOnChange(UIChangeEventArgs args)
    {
        //searchString = args.Value.ToString();
    }
}
